body{
	font-family: 'Ubuntu', sans-serif;
		background-color: #000000;
	color: #abadab;
}

.cf:after {
 content: "";
 display: block;
 clear: both;
}

.title-container{
	display:block;
	width:800px;
  margin-left: 14%;
  margin-bottom:15px;
  text-align:center;
}
span.game-title{
	padding:0px;
	margin:10px;
	font-size:32px;
	/*text-align:center;*/
	font-weight:600;
}

.credit-line{
	font-size:16px;
	font-weight:600;
}
canvas{
	display: block;
  /*margin-bottom: -13%;*/
  margin-left: 14%;
}

span.credit-line{
	opacity:0.6;
	font-size:20px;
}

.whole-thing{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.goal, .controls{
	text-align:left;
}
.control-item{
	text-align:left;
	font-size:14px;
}