html {
    font-family: sans-serif;  /*background-image:url(../images/night.gif);*/
    font-weight: 300;
    margin:5%; /* remove default margin */
    margin-top:0%;
    padding:0; /* remove default padding */
    width:90%; /* take full browser width */
    height:100%; /* take full browser height*/
}


.logo-icon{
  width:1.5em;
  margin-right:0.5em;
}

.header-links{
  width: 90%;
  height:50px;
  border-radius:3px;
  text-shadow: 1px 2px 8px transparent, 0 0 0 transparent, 1px 2px 8px transparent, 2px 2px 0px transparent !important; 
  margin:0 auto;
  margin-bottom:20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.keystrokes{
  width: 90%;
  height:100px;
  margin:0 auto;
}

.lightbulb{
  width:20px;
  height:auto;
  margin:0 auto;
  display:block;
  cursor:pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
   -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 2000ms;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
      -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 200ms ease-in;
}

.lightbulb:hover{
  transform: scale(1.2);
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg) scale(1.3);}
  25% {-webkit-transform: rotate(-10deg) scale(1.3);}
  50% {-webkit-transform: rotate(20deg) scale(1.3);}
  75% {-webkit-transform: rotate(-5deg) scale(1.3);}
  100% {-webkit-transform: rotate(0deg) scale(1.3);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg) scale(1.3);}
  25% {-ms-transform: rotate(-1deg) scale(1.3);}
  50% {-ms-transform: rotate(1.5deg) scale(1.3);}
  75% {-ms-transform: rotate(-5deg) scale(1.3);}
  100% {-ms-transform: rotate(0deg) scale(1.3);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg) scale(1.3);}
  25% {transform: rotate(-10deg) scale(1.3);}
  50% {transform: rotate(20deg) scale(1.3);}
  75% {transform: rotate(-5deg) scale(1.3);}
  100% {transform: rotate(0deg) scale(1.3);}
}



@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0) scale(1.3);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0) scale(1.3);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0) scale(1.3);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0) scale(1.3);
  }
}

.bed{
  position:relative;
  display:block;
  animation: slideOut 1s ease-out both;
  -webkit-animation: slideOut 1s ease-out both;
  animation-delay:4s;
  -webkit-animation-delay:4s;
  -o-animation-delay:4s;
  bottom:0;
}

@keyframes slideOut {
  to { opacity: 1; transform: translateY(-220%); }
}
@-webkit-keyframes slideOut {
  to { opacity: 1; -webkit-transform: translateY(-220%); }
}

*{
    font-weight: 300;
    font-size:12px !important;
      font-family: sans-serif;  
}

body{
  text-shadow: 1px 2px 8px #e5e5e5, 0 0 0 rgba(50,50,0,.3), 1px 2px 8px #e5e5e5, 2px 2px 0px rgba(255,255,255,1); 
  margin-top:50px;
  line-height:95%;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  font-size:12px !important;

  font-family: sans-serif;	/*background-image:url(../images/night.gif);*/
  width:90%;
	color: gray;
}

.controls{
  font-weight:bold !important;
}

.keyboard{
  marign-left:-50px;
  width:2em;
  margin-top:-50px;
}

ul{
    text-decoration: none;
    display:flex;
    align-content: space-between;
    height:100px;
    padding:0px;
    justify-content: center;
}

.block li, .block p{
  display:block;
  width:100%;
}


a{
	display:inline-block;
  color:#8ca5cd;
  padding:2px;
  font-size:13px !important;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}



a:hover{
  color: #272323;
}

.cf:after {
 content: "";
 display: block;
 clear: both;
}

.title-container{
  display:block;
	width:100%;
  margin-bottom:15px;
  margin:0 auto;
  text-align:center;
}
span.game-title{
	padding:0px;
	margin:10px 10px 10px 10px;
	font-size:24px !important;
  font-size: 15em;
}

.title-dark{
  color:white !important;
}

.title-light{
  color:gray !important;
}

.credit-line{
	font-size:13px !important;
  margin-right:3em;
}

canvas{
	display: block;
  width:90%;
	justify-content: center;
	align-items: center;
  margin: 0 auto;
}

span.credit-line{
	opacity:0.8;
	font-size:20px;
}

.whole-thing{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	height:100%;
}


.text-blurb{
  transition: all 0.2s ease 0s;
  visibility:hidden;
}

.visible{
  transition: all 0.2s ease 0s;
  visibility:visible;
}


p {
  font-size: 12px;
  font-size: 1.4rem;
  line-height: 22px;
  font-weight: 300;
  margin-bottom: 8px; }


.body-dark{
  background:#272323;
  color:white;
    text-shadow: 1px 2px 8px transparent, 0 0 0 transparent, 1px 2px 8px transparent, 2px 2px 0px transparent !important; 

}

.body-light{
  background:white;
  color: gray;
}

