html {
/*font-family: 'Helvetica', 'Arial', sans-serif;     */
margin:0; /* remove default margin */
     padding:0; /* remove default padding */
     width:100%; /* take full browser width */
     height:100%; /* take full browser height*/
}

/*.bed-container{
  height:100px;
}
*/
.lightbulb{
  width:50px;
  height:auto;
  margin:0 auto;
  display:block;
  cursor:pointer;
   -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 2000ms;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
      -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 200ms ease-in;
}

.lightbulb:hover{
  transform: scale(1.2);
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg) scale(1.3);}
  25% {-webkit-transform: rotate(-10deg) scale(1.3);}
  50% {-webkit-transform: rotate(20deg) scale(1.3);}
  75% {-webkit-transform: rotate(-5deg) scale(1.3);}
  100% {-webkit-transform: rotate(0deg) scale(1.3);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg) scale(1.3);}
  25% {-ms-transform: rotate(-1deg) scale(1.3);}
  50% {-ms-transform: rotate(1.5deg) scale(1.3);}
  75% {-ms-transform: rotate(-5deg) scale(1.3);}
  100% {-ms-transform: rotate(0deg) scale(1.3);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg) scale(1.3);}
  25% {transform: rotate(-10deg) scale(1.3);}
  50% {transform: rotate(20deg) scale(1.3);}
  75% {transform: rotate(-5deg) scale(1.3);}
  100% {transform: rotate(0deg) scale(1.3);}
}



@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0) scale(1.3);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0) scale(1.3);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0) scale(1.3);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0) scale(1.3);
  }
}

.bed{
  position:relative;
  display:block;
  animation: slideOut 1s ease-out both;
  -webkit-animation: slideOut 1s ease-out both;
  animation-delay:4s;
  -webkit-animation-delay:4s;
  -o-animation-delay:4s;
  bottom:0;
}

@keyframes slideOut {
  to { opacity: 1; transform: translateY(-220%); }
}
@-webkit-keyframes slideOut {
  to { opacity: 1; -webkit-transform: translateY(-220%); }
}

*{
    font-size:1em !important;
    /*font-family: 'Open Sans', sans-serif !important;*/
    /*font-family: 'Helvetica', 'Arial', sans-serif !important;     */

}

body{
  margin-top:50px;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
    font-size:12px !important;

  font-family: 'Josefin Sans', sans-serif;	/*background-image:url(../images/night.gif);*/
	/*background-size:20%;*/
  width:90%;
  /*margin:0 auto;*/
	color: gray;
}

.block li, .block p{
  margin: 0 auto;
  text-align:center;
  display:block;
  width:100%;
}


a{
	display:inline-block;
  color:#8ca5cd;
  padding:2px;
  text-decoration: none;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}



a:hover{
  color: #323a3d;
	/*border:1px solid #323a3d;*/
}

.cf:after {
 content: "";
 display: block;
 clear: both;
}

.title-container{
  display:block;
	width:100%;
  margin-bottom:15px;
  margin:0 auto;
  text-align:center;
}
span.game-title{
	padding:0px;
	margin:10px 10px 10px 0px;
	font-size:20px;
	font-weight:600;
	color:gray;
}

.title-dark{
  color:white !important;
}

.title-light{
  color:gray !important;
}

.credit-line{
	font-size:16px;
	font-weight:600;
}

canvas{
	display: block;
  width:90%;
  /*margin-bottom: -13%;*/
  /**/
	justify-content: center;
	align-items: center;
  margin: 0 auto;
}

span.credit-line{
	opacity:0.6;
	font-size:20px;
}

.whole-thing{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	height:100%;
}

.goal, .controls{
	text-align:left;
}
.control-item{
	text-align:left;
	font-size:14px;
}

.text-blurb{
  transition: all 0.2s ease 0s;
  visibility:hidden;
}

.visible{
  transition: all 0.2s ease 0s;
  visibility:visible;
}


p {
  font-size: 12px;
  font-size: 1.4rem;
  line-height: 22px;
  font-weight: 300;
  margin-bottom: 8px; }


.body-dark{
  background:#272323;
  color:white;
}

.body-light{
  background:white;
  color: gray;
}

